/* Paleta de colores
color: #c599b6;
color: #e6b2ba;
color: #fadoc4;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto";
}

/* Header */
h1{
    text-align: center;
    margin: 1rem;
}
.paginas{
    color: white;
    list-style: none;
    text-decoration: none;}
header{
    background-color: #864c4c;
    
}
header ul{
    height: 30px;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    }
/* Header */

/*Productos*/
.productos img{
    width: fill;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 10rem;
    }
    
}
/*Productos*/
.productos{
    display: flex;
    flex-direction: row;
    @media (max-width: 480px){
        display: flex;
        flex-direction: column;
    };
}
.producto{
    border: solid 1px ;
    border-radius: 8px;
    width:18%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    }
    
}
.botonComprarProducto{
    background-color: #c599b6;
    border: none;
    color: rgb(92, 81, 81);
    padding: 0.25rem;
    border-radius: 6px;
    
}
.tendencia{
    width: 100%;
    display: flex;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    }
} 
.tendencias{
    width: 100%;
    padding: 16px;
    margin: 16px;
    border: black solid 1px;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    }
}
.imgKit{
    width: 100%;

   
}

 
/*Banner*/
.logo{
    width: 10rem;
}
.logo-content{
    background-color: #e6b2ba;
}
.caroussel__mobile{
    @media (max-width: 480px){
        display: none;
    }
}
/*Banner*/
/*Kits*/

.kit{
    border: solid 1px ;
    border-radius: 8px;
    width:18%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.13);
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    }
}
.kits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    }
} img{
    width: fill;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    }
}
.kitDefensaPersonal{
    width: 30rem;
}
/*Kits*/

/*Vendedora*/
    .vendedora{
        width: 100%;
    }
    .cardVendedora{
        width: 85%;
    }
    .vendedora__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*Vendedora*/
/*Mapa*/
.mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    
}
/*Mapa*/
/*Footer*/
footer{
    background-color: #c599b6;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wp{
    position: fixed;
    bottom: 30px;
    width: 60px;
    right: 30px;
}
.footer__textColor{
    color: white;
}
.footer__center{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/*Footer*/
